@using Microsoft.AspNetCore.Components.Authorization
@using JPB.InhousePlayback.Client.Pages.Auth
<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(Program).Assembly">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData"
			                    DefaultLayout="@typeof(MainLayout)">
				<NotAuthorized>
					<RedirectToLogin></RedirectToLogin>
				</NotAuthorized>
				<Authorizing>
					<h1>Authentication in progress</h1>
					<p>Only visible while authentication is in progress.</p>
				</Authorizing>
			</AuthorizeRouteView>
			@*<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />*@
		</Found>
		<NotFound>
			<LayoutView Layout="@typeof(MainLayout)">
				<p>Sorry, there's nothing at this address.</p>
			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>
